<?php

/**
 * @file		config.php
 * @author 		Kevin Wijesekera
 * @copyright 	2008
 * @edited		8-14-2008

 ###################################
 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with this program.  If not, see http://www.gnu.org/licenses/.
 ###################################
 */

if(!defined('STARTED')){
	die();
}

$GLOBALS['MG']=array();

/**
* PATH Configuration
*/
$GLOBALS['MG']['CFG']['PATH']['ROOT']='/var/www/mg-site/';
$GLOBALS['MG']['CFG']['PATH']['INC']='/var/www/mg-inc/';
$GLOBALS['MG']['CFG']['PATH']['TPL']=$GLOBALS['MG']['CFG']['PATH']['ROOT'].'tpl/';
$GLOBALS['MG']['CFG']['PATH']['IMG']=$GLOBALS['MG']['CFG']['PATH']['ROOT'].'htdocs/img/';
$GLOBALS['MG']['CFG']['PATH']['LOG']=$GLOBALS['MG']['CFG']['PATH']['ROOT'].'logs/';
$GLOBALS['MG']['CFG']['PATH']['PKG']=$GLOBALS['MG']['CFG']['PATH']['ROOT'].'pkg/';


/**
* SQL Configuration
*/
$GLOBALS['MG']['CFG']['SQL']['METHOD']='mysql';
$GLOBALS['MG']['CFG']['SQL']['HOST']='localhost';
$GLOBALS['MG']['CFG']['SQL']['PORT_SOCKET']='3306';
$GLOBALS['MG']['CFG']['SQL']['DB']='mandrigo';
$GLOBALS['MG']['CFG']['SQL']['USERNAME']='mandrigo';
$GLOBALS['MG']['CFG']['SQL']['PASSWORD']='';
$GLOBALS['MG']['CFG']['SQL']['SSL']=false;
$GLOBALS['MG']['CFG']['SQL']['PERSISTENT']=true;
define('TABLE_PREFIX','mg_');

/**
* Error Logger
*/
$GLOBALS['MG']['CFG']['ERRORLOGGER']['SIZE']='1048576'; // 1 MB